.ibox-content{
    padding: 10px 0px !important;
}

.downloaduser {
	Cursor: pointer;
    padding: 3px 10px;
    background: rgba(255, 165, 0, 0.46);
    border-radius: 2px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    border: 0;
}
