@charset "utf-8";

/*** page css  ***/


.reserve-block-cont{ background:#fff; padding:15px;}
.reserve-tbl th,.reserve-tbl td{ border-top:0!important;}
.reserve-tbl th span{ background:#eee; padding:3px 6px;border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;}
.reserve-carlist li{ float:left; font-size:13px; padding:3px; max-width:33%;}
.reserve-tbl tr td.result{  font-weight:bold; text-align:right; color:#990000; font-size:2.6em;}
.reserve-left-ttl{ text-align:center; font-size:1.4em; font-weight:500; margin-top:0;}
.reserve-right-ttl{ text-align:center; font-size:1.4em; font-weight:500; margin-top:0;}
.reserve-right { border-left:solid 0px #ddd; padding-left:25px;}
.reserve-right p{ margin-top:5px;}
.reserve-right input{border:none; background:#eee; margin-bottom:20px; border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important; }
.reserve-right input:focus{background:#FFF0F7;}
.reserve-right input.h40{ height:40px;margin-bottom: 5px;}
.reserve-right input.submitBtn{ margin-top:30px; background:#8EC11E; color:#fff;}
.reserve-right input.submitBtn[type="submit"][disabled]{background:#ddd; color:#999;}
.reserve-tbl-wrapper{ border:solid 1px #990000; padding:12px 3px 0 3px;}
@media (max-width:767px) {
	p.reserve-right-ttl{margin-top:20px;}
	a.added-txt{ background:#ffffcc; border-radius:3px!important; -webkit-border-radius:3px!important; -moz-border-radius:3px!important; text-align:left; padding:3px; color:#333;}
    .reserve-right { border-left:none; padding-left:15px;}
    .reserve-tbl tr td.result{ text-align:right; color:#990000; font-size:2em;}
}
.reserve-tbl tr td.result small{ font-size:12px; font-weight:normal; color:#333;display: block;}
.reserve-tbl tr td.result{min-width:200px;}
.reserve-tbl th,.reserve-tbl td{ border-top:0!important;}
.r-txt{font-size:1.2em;}
.bg-darkred{ background:#dd0000;}
.bg-white{ background:#fff;}
.bg-grad-red{
    background: -moz-linear-gradient(top, #ff0000 1%, #dd0000 50%, #dd0000 50%, #880000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.bg-grad-gray{
    background: -moz-linear-gradient(top, #fff 1%, #eee 50%, #eee 50%, #ddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.cond-ttl{ padding:8px; color:#fff; text-align:center; margin-top:0; display:block;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */
    -moz-border-radius: 5px!important;   /* Firefox�p */}
.calc-btn{ margin-bottom:3px; padding-bottom:15px; padding-right:15px;}
.calc-btn a{ display:block; text-align:center; padding:8px; font-weight:bold; float:right; width:260px; color:#fff; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);}
.calc-btn:hover{ color:#fff;}
.pop-stuff-img2{ margin-top:0px; margin-left:14px;}
.popover2{margin-top:20px; background:#ADE3AC;}

.search-block,.reserve-block,.caution-block{
    -webkit-box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
}

.breadcrumb-item { cursor: pointer; color: #000; }
.breadcrumb-item.active  { color: rgba(6, 17, 179, 0.78); }
.model-photo { border: #aaa; width:150px !important; }
.model-photo.active { border: #646daa;}
.error-box{ min-height:10px;}
.mh0{min-height:0;}
.error-class{ display:block; text-align:right;
    width: 100%;
    align-items: center;
    font-size: 12px;
    color: #ff5912;
}
.req-red{
    padding: .2em .5em .3em;
	margin-left:8px;
	display:inline-block;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
	background:#ff5912; color:#fff; font-size:9px;}

.error-class span.error{ border:none!important;}
.error-class span.error:before{
  content: "\f06a";
  font-family: FontAwesome; padding-right:5px;}
#lbl-member-check { position: absolute; right: 0; top: -15px; background: #ef8385; color: white; padding: 5px 10px; }
.car-type-td span:last-child{display:none;}
.reserve-tbl td{text-align:right;}

.btn-wrap{
        background: #ffd2c7;
    color: #422121;
    padding: 30px 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 10px !important;
    margin-top: 85px;
    font-size: 20px;
    font-weight: 600;
}

/**/
@media screen and (max-width: 768px){

.footer_wrap{
    padding: 0;
}
.footer_wrap img{
    width: 100%;
    display: inline-block;
}
.last_footer ul.foo li{
    width: 100%;
    display: inline-block;
    border-left: none;
    padding: 5px 0px;
}
.confirm_wrap .reserve-block{
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
.confirm_wrap .reserve-block .reserve-block-cont .reserve-right #lbl-member-check{
    top: -22px !important;
    right: -7px !important;
}
.confirm_wrap .reserve-block .reserve-block-cont .reserve-right #check-it{
    margin-bottom: 0px;
}

}


@media screen and (max-width: 767px){

.confirm_wrap .reserve-block .reserve-block-cont .reserve-right{
    margin-top: 50px;
}
.confirm_wrap .reserve-block .reserve-block-cont .reserve-right #lbl-member-check{
    right: 15px !important;
    top: -30px !important;
}

}


@media screen and (max-width: 425px){

.confirm_wrap .reserve-block .reserve-block-cont .reserve-left .reserve-tbl th span{
    font-size: 9px;
    padding: 3px 0px;
    width: 100%;
    display: inline-block;
}
.confirm_wrap .reserve-block .reserve-block-cont .reserve-left .reserve-tbl td font{
    font-size: 12px;
}
.confirm_wrap .reserve-block .reserve-block-cont .reserve-left .reserve-tbl-wrapper {
    padding: 12px 0px 0 0px;
}

}

.policy-ttl{font-size:1em; font-weight:600;}
.policy-f-ttl{font-size:1.6em; font-weight:600;}




.child-list{margin-left:2em;}
/** 丸数字リスト **/
ul.li-circle{
  padding:0 0 0 0;
  margin:15px 0 20px 0;
}

ul.circle li{
    padding-left: 2em;
	position:relative;
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
ul.circle li:before{
position:absolute;
left:0px;
  display: marker;
    font-size: 1.2em;
}
ul.circle li:nth-of-type(1):before,ul.sub-li ul.circle li:nth-of-type(1):before,ul.li-num ul.circle li:nth-of-type(1):before{
  content: "①"!important;
}
ul.circle li:nth-of-type(2):before,ul.sub-li ul.circle li:nth-of-type(2):before,ul.li-num ul.circle li:nth-of-type(2):before{
  content: "②";
}
ul.circle li:nth-of-type(3):before,ul.sub-li ul.circle li:nth-of-type(3):before,ul.li-num ul.circle li:nth-of-type(3):before{
  content: "③";
}
ul.circle li:nth-of-type(4):before,ul.sub-li ul.circle li:nth-of-type(4):before,ul.li-num ul.circle li:nth-of-type(4):before{
  content: "④";
}
ul.circle li:nth-of-type(5):before,ul.sub-li ul.circle li:nth-of-type(5):before,ul.li-num ul.circle li:nth-of-type(5):before{
  content: "⑤";
}
ul.circle li:nth-of-type(6):before,ul.sub-li ul.circle li:nth-of-type(6):before,ul.li-num ul.circle li:nth-of-type(6):before{
  content: "⑥";
}
ul.circle li:nth-of-type(7):before,ul.sub-li ul.circle li:nth-of-type(7):before,ul.li-num ul.circle li:nth-of-type(7):before{
  content: "⑦";
}
ul.circle li:nth-of-type(8):before,ul.sub-li ul.circle li:nth-of-type(8):before,ul.li-num ul.circle li:nth-of-type(8):before{
  content: "⑧";
}
ul.circle li:nth-of-type(9):before,ul.sub-li ul.circle li:nth-of-type(9):before,ul.li-num ul.circle li:nth-of-type(9):before{
  content: "⑨";
}
ul.circle li:nth-of-type(10):before,ul.sub-li ul.circle li:nth-of-type(10):before,ul.li-num ul.circle li:nth-of-type(10):before{
  content: "⑩";
}



ol.li-num{
  padding:0 0 0 0;
  margin:15px 0 20px 15px;
}

ol.li-num li{
    padding-left: 2em;
	position:relative;
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
ol.li-num li:before{
position:absolute;
left:0px;
  display: marker;
}
ol.li-num li:nth-of-type(1):before,ol.sub-li ol.li-num li:nth-of-type(1):before{
  content: "１．";
}
ol.li-num li:nth-of-type(2):before,ol.sub-li ol.li-num li:nth-of-type(2):before,ol.li-num.second-item li:nth-of-type(1):before,ol.sub-li ol.li-num.second-item li:nth-of-type(1):before{
  content: "２．";
}
ol.li-num li:nth-of-type(3):before,ol.sub-li ol.li-num li:nth-of-type(3):before,ol.li-num.second-item li:nth-of-type(2):before,ol.sub-li ol.li-num.second-item li:nth-of-type(2):before{
  content: "３．";
}
ol.li-num li:nth-of-type(4):before,ol.sub-li ol.li-num li:nth-of-type(4):before,ol.li-num.second-item li:nth-of-type(3):before,ol.sub-li ol.li-num.second-item li:nth-of-type(3):before{
  content: "４．";
}
ol.li-num li:nth-of-type(5):before,ol.sub-li ol.li-num li:nth-of-type(5):before,ol.li-num.second-item li:nth-of-type(4):before,ol.sub-li ol.li-num.second-item li:nth-of-type(4):before{
  content: "５．";
}
ol.li-num li:nth-of-type(6):before,ol.sub-li ol.li-num li:nth-of-type(6):before,ol.li-num.second-item li:nth-of-type(5):before,ol.sub-li ol.li-num.second-item li:nth-of-type(5):before{
  content: "６．";
}
ol.li-num li:nth-of-type(7):before,ol.sub-li ol.li-num li:nth-of-type(7):before,ol.li-num.second-item li:nth-of-type(6):before,ol.sub-li ol.li-num.second-item li:nth-of-type(6):before{
  content: "７．";
}
ol.li-num li:nth-of-type(8):before,ol.sub-li ol.li-num li:nth-of-type(8):before,ol.li-num.second-item li:nth-of-type(7):before,ol.sub-li ol.li-num.second-item li:nth-of-type(7):before{
  content: "８．";
}
ol.li-num li:nth-of-type(9):before,ol.sub-li ol.li-num li:nth-of-type(9):before,ol.li-num.second-item li:nth-of-type(8):before,ol.sub-li ol.li-num.second-item li:nth-of-type(8):before{
  content: "９．";
}
ol.li-num li:nth-of-type(10):before,ol.sub-li ol.li-num li:nth-of-type(10):before,ol.li-num.second-item li:nth-of-type(9):before,ol.sub-li ol.li-num.second-item li:nth-of-type(9):before{
  content: "１０．";
}
ol.li-num li:nth-of-type(11):before,ol.sub-li ol.li-num li:nth-of-type(11):before,ol.li-num.second-item li:nth-of-type(10):before,ol.sub-li ol.li-num.second-item li:nth-of-type(10):before{
  content: "１１．";
}
ol.li-num li:nth-of-type(12):before,ol.sub-li ol.li-num li:nth-of-type(12):before,ol.li-num.second-item li:nth-of-type(11):before,ol.sub-li ol.li-num.second-item li:nth-of-type(11):before{
  content: "１２．";
}
ol.li-num li:nth-of-type(13):before,ol.sub-li ol.li-num li:nth-of-type(13):before,ol.li-num.second-item li:nth-of-type(12):before,ol.sub-li ol.li-num.second-item li:nth-of-type(12):before{
  content: "１３．";
}
ol.li-num li:nth-of-type(14):before,ol.sub-li ol.li-num li:nth-of-type(14):before,ol.li-num.second-item li:nth-of-type(13):before,ol.sub-li ol.li-num.second-item li:nth-of-type(13):before{
  content: "１４．";
}
ol.li-num li:nth-of-type(15):before,ol.sub-li ol.li-num li:nth-of-type(15):before,ol.li-num.second-item li:nth-of-type(14):before,ol.sub-li ol.li-num.second-item li:nth-of-type(14):before0{
  content: "１５．";
}

/** 括弧付き数字リスト **/
ol.sub-li{
  padding:0 0 0 0;
  margin:15px 0 20px 40px;
}

ol.sub-li li{
    padding-left: 4em;
	position:relative;
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
ol.sub-li li:before{
position:absolute;
left:0px;
  display: marker;
}
ol.sub-li li:nth-of-type(1):before,ol.li-num ol.sub-li li:nth-of-type(1):before{
  content: "（１）";
}
ol.sub-li li:nth-of-type(2):before,ol.li-num ol.sub-li li:nth-of-type(2):before{
  content: "（２）";
}
ol.sub-li li:nth-of-type(3):before,ol.li-num ol.sub-li li:nth-of-type(3):before{
  content: "（３）";
}
ol.sub-li li:nth-of-type(4):before,ol.li-num ol.sub-li li:nth-of-type(4):before{
  content: "（４）";
}
ol.sub-li li:nth-of-type(5):before,ol.li-num ol.sub-li li:nth-of-type(5):before{
  content: "（５）";
}
ol.sub-li li:nth-of-type(6):before,ol.li-num ol.sub-li li:nth-of-type(6):before{
  content: "（６）";
}
ol.sub-li li:nth-of-type(7):before,ol.li-num ol.sub-li li:nth-of-type(7):before{
  content: "（７）";
}
ol.sub-li li:nth-of-type(8):before,ol.li-num ol.sub-li li:nth-of-type(8):before{
  content: "（８）";
}
ol.sub-li li:nth-of-type(9):before,ol.li-num ol.sub-li li:nth-of-type(9):before{
  content: "（９）";
}
ol.sub-li li:nth-of-type(10):before,ol.li-num ol.sub-li li:nth-of-type(10):before{
  content: "（１０）";
}
ol.sub-li li:nth-of-type(11):before,ol.li-num ol.sub-li li:nth-of-type(11):before{
  content: "（１１）";
}
ol.sub-li li:nth-of-type(12):before,ol.li-num ol.sub-li li:nth-of-type(12):before{
  content: "（１２）";
}
ol.sub-li li:nth-of-type(13):before,ol.li-num ol.sub-li li:nth-of-type(13):before{
  content: "（１３）";
}
ol.sub-li li:nth-of-type(14):before,ol.li-num ol.sub-li li:nth-of-type(14):before{
  content: "（１４）";
}
ol.sub-li li:nth-of-type(15):before,ol.li-num ol.sub-li li:nth-of-type(15):before{
  content: "（１５）";
}
.disnone{ display:none;}
.margin-left-20{ margin-left:20px!important;}
.li-disc li{list-style:disc;}
ol li{list-style:none;}

@media screen and (max-width: 767px){
ol.li-num,ol.sub-li,ol.li-circle{margin-left:0;}
}



/**/

@media screen and (max-width: 768px){

.confirm_table .reserve-tbl-wrapper .table>tbody>tr>td,
.confirm_table .reserve-tbl-wrapper .table>tbody>tr>th{
  width: 50%;
  display: inline-block;
  padding: 5px;
}
.confirm_table .reserve-tbl-wrapper .table>tbody>tr>th span{
  width: 100%;
  display: inline-block;
}
.confirm_table .reserve-tbl-wrapper .table>tbody>tr>th{
  font-size: 11px;
}
.confirm_table .reserve-tbl-wrapper .table>tbody>tr>td{
  font-size: 14px;
}
.confirm_table .reserve-tbl-wrapper .table>tbody>tr>td.result span{
  font-size: 30px;
}
.confirm_table .confirm_car_table{
  width: 100% !important;
  display: inline-block !important;
}
.confirm_table .reserve-tbl #insurance_type{
  width: 100%;
  max-width: 100% !important;
  display: inline-block;
  margin-top: 5px;
}
.vta_b{
    vertical-align: bottom !important;
}
#btn-select-member{
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

}

@media screen and (min-width: 768px){
.mdmw180{style="min-width:180px;}
}

@media screen and (max-width: 767px){
  .btn-wrap{
    margin-top: 30px;
  }
  .fa-question-circle{padding:.3em 1em;}
  .modal-footer{text-align:center;}
}
a.mens-modal{display:block;}
.modal-open .modal {
overflow-x: unset;
overflow-y: unset;}
.modal .modal-dialog{
overflow-x: hidden;
height: 100%;
}


/**/
