@charset "utf-8";

/*** page css  ***/
.gmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
min-height:400px;
overflow: hidden;
}
.gmap iframe,
.gmap object,
.gmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.sougei-img{margin-top:30px;}
.h1icon{width:50px;}
/** 丸数字リスト **/
ul.circle{
  padding:0 0 0 0;
  margin:15px 0 20px 0;
}
 
ul.circle li{
    padding-left: 1.5em;
	position:relative;
  list-style-type:none;
  list-style-position:inside;
  counter-increment: cnt;
}
ul.circle li:before{ 
position:absolute;
left:0px;
  display: marker;
    font-size: 1.2em;
    top: -2px;
}
ul.circle li:nth-of-type(1):before,ul.sub-li ul.circle li:nth-of-type(1):before,ol.li-num ul.circle li:nth-of-type(1):before{ 
  content: "①"!important;
}
ul.circle li:nth-of-type(2):before,ul.sub-li ul.circle li:nth-of-type(2):before,ol.li-num ul.circle li:nth-of-type(2):before{ 
  content: "②";
}
ul.circle li:nth-of-type(3):before,ul.sub-li ul.circle li:nth-of-type(3):before,ol.li-num ul.circle li:nth-of-type(3):before{ 
  content: "③";
}
ul.circle li:nth-of-type(4):before,ul.sub-li ul.circle li:nth-of-type(4):before,ol.li-num ul.circle li:nth-of-type(4):before{ 
  content: "④";
}
ul.circle li:nth-of-type(5):before,ul.sub-li ul.circle li:nth-of-type(5):before,ol.li-num ul.circle li:nth-of-type(5):before{ 
  content: "⑤";
}
ul.circle li:nth-of-type(6):before,ul.sub-li ul.circle li:nth-of-type(6):before,ol.li-num ul.circle li:nth-of-type(6):before{ 
  content: "⑥";
}
ul.circle li:nth-of-type(7):before,ul.sub-li ul.circle li:nth-of-type(7):before,ol.li-num ul.circle li:nth-of-type(7):before{ 
  content: "⑦";
}
ul.circle li:nth-of-type(8):before,ul.sub-li ul.circle li:nth-of-type(8):before,ol.li-num ul.circle li:nth-of-type(8):before{ 
  content: "⑧";
}
ul.circle li:nth-of-type(9):before,ul.sub-li ul.circle li:nth-of-type(9):before,ol.li-num ul.circle li:nth-of-type(9):before{ 
  content: "⑨";
}
ul.circle li:nth-of-type(10):before,ul.sub-li ul.circle li:nth-of-type(10):before,ol.li-num ul.circle li:nth-of-type(10):before{ 
  content: "⑩";
}

ol.li-num{
  padding:0 0 0 0;
  margin:15px 0 20px 15px;
}
 
ol.li-num li{
    padding-left: 2em;
}
ol.li-num li:before{ 

}
ul.child-list,ol.child-list{margin-left:2em;}
ul.child-list li,ol.child-list li{padding-left:1.5em;}

ol.asterisk-num {
  counter-reset: number;
  list-style: none;
}
ol.asterisk-num li:before {
  counter-increment: number;
  content: "※"counter(number)" ";
}
ul.asterisk{margin-left:1em;}
ul.asterisk li {
  list-style-type: none;
  text-indent: -1em;
}
ul.asterisk li:before {
  display: inline;
  content: "※";
}

.red-border-top{ border-top:solid 4px #dd0000;}
.red-border-top{ border-top:solid 4px #dd0000;}
.relative{ position:relative;}

.shop-block{ margin-bottom:10px!important;
    -webkit-box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 1px 3px 1px rgba(0,0,0,0.1);
}
.shop-block{ padding-top:3px; padding-bottom:0;}
@media (max-width:767px) {
.shop-block{margin-top: 20px;}
}
.shop-block h3{ text-align:left; margin-top:0; padding-top:15px;  padding-bottom:10px; color:#333; padding-left:15px; margin-bottom:0; font-size:1.2em;}
.shop-block ul{margin-top:15px;}
.shop-block ul li{margin-top:10px;}


/* 吹き出し */
.popover {
    border: 1px solid #FFFFCC;
    background:#FFFFCC;
    box-shadow: unset;
    position: relative;
	padding-left:0;
    max-width: 100%;
    display: inline;
    margin-top: 0px;
    margin-left: 0px!important;
	border-radius: 5px!important;          
    -webkit-border-radius: 5px!important;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px!important;   /* Firefox用 */ 
}
.popover-pnk{margin-top:3px; background:#F9B3B3;}

.popover-pnk.right > .arrow {
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: transparent;
}
.popover-pnk.right > .arrow {
    top: 30%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #F9B3B3;
}
.popover-pnk.right > .arrow-b::after {
    border-left-color: #F9B3B3;
}
.popover-pnk.right > .arrow:after {
    left: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
}
.popover-content{ padding:3px 10px;}

.popover-content p{    font-size: 1em; margin-bottom:10px;}
.popover-content p{ padding:3px;}
@media (max-width:767px) {
}
.m_T0{margin-top:0!important;}
.sougei-block{ padding-top:3px!important;margin-bottom:50px;}

.shop-block.p-block h3{ text-align:left; color:#333; padding-top:4px; padding-bottom:5px;}

.shop-block .mitumori-tbl tr th,.shop-block .mitumori-tbl tr td{ border-top:dashed 1px #ddd!important; padding:4px;}
.mitumori-tbl tr td{text-align:right;}
.mitumori-tbl tr td.result{ font-size:2.7em; font-weight:bold; color:#bb0000;}
.mitumori-tbl tr td.result small{ font-size:12px; font-weight:normal; color:#333;display: block;}

.calc-btn.rsvblk{ margin-bottom:3px; padding-bottom:15px; padding-right:15px;}
.calc-btn.rsvblk a.r-link{ display:block; text-align:center; padding:8px; font-size:2em; font-weight:bold; margin-left:auto; margin-right:auto; width:260px; color:#fff; -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4); }
.calc-btn.rsvblk .r-link:hover{ color:#fff;}
.calc-btn.rsvblk .n-link-wrapper{ width:260px;margin-left:auto; margin-right:auto; margin-bottom:10px;}
.n-link-wrapper a{margin-right:3px; text-align:center;}
ul.carclass-tags{margin-top:10px;}
ul.carclass-tags li{float:left;}
ul.carclass-tags li a{ display:inline-block; padding:3px 8px; border-left:4px solid #B90544; background:#FFEEEE; color:#333; margin-right:5px;}


input[type="submit"][disabled]{ background:#ddd;}





.reserve-block-cont{ background:#fff; padding:15px;}
.reserve-tbl th,.reserve-tbl td{ border-top:0!important;}
.reserve-tbl th span{ background:#eee; padding:3px 6px;border-radius: 5px!important;
    -webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */
    -moz-border-radius: 5px!important;   /* Firefox�p */}
.reserve-carlist li{ float:left; font-size:13px; padding:3px; max-width:33%;}
.reserve-tbl tr td.result{  font-weight:bold; text-align:right; color:#990000; font-size:2.6em;}
.reserve-left-ttl{ padding-left:10px; font-size:1.4em; font-weight:500;}
.reserve-right { margin-top:30px; border-left:solid 1px #ddd; padding-left:25px;}
.reserve-right p{ margin-top:5px;}
.reserve-right input{border:solid 1px #990000; margin-bottom:20px;}
.reserve-right input.h40{ height:40px;margin-bottom: 5px;}
.reserve-right input.submitBtn{ margin-top:30px;}
.reserve-tbl-wrapper{ border:solid 1px #990000; padding:12px 3px 0 3px;}
@media (max-width:767px) {
    .reserve-right { border-left:none; padding-left:15px;}
    .reserve-tbl tr td.result{ text-align:center; color:#990000; font-size:2em;}
}
.reserve-tbl tr td.result small{ font-size:12px; font-weight:normal; color:#333;display: block;}
.reserve-tbl th,.reserve-tbl td{ border-top:0!important;}
.r-txt{font-size:1.2em;}
.bg-darkred{ background:#dd0000;}
.bg-white{ background:#fff;}
.bg-grad-red{
    background: -moz-linear-gradient(top, #ff0000 1%, #dd0000 50%, #dd0000 50%, #880000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.bg-grad-gray{
    background: -moz-linear-gradient(top, #fff 1%, #eee 50%, #eee 50%, #ddd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.cond-ttl{ padding:8px; color:#fff; text-align:center; margin-top:0; display:block;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */
    -moz-border-radius: 5px!important;   /* Firefox�p */}

.pop-stuff-img2{ margin-top:0px; margin-left:14px;}



.breadcrumb-item { cursor: pointer; color: #000; }
.breadcrumb-item.active  { color: rgba(6, 17, 179, 0.78); }
.model-photo { border: #aaa; width:150px !important; height: 150px;}
.model-photo.active { border: #646daa;}






/*** page 04 css ***/
/*** page css  ***/
.page-h2r{ font-size:1.6em; font-weight:bold; color:#CC0000;}
h3.jnum{ font-size:2em;}

@media (max-width:767px) {
h3.jnum{
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 5px;}
}
h3.jnum span{ font-size:1.4em; font-weight:bold;}
.class-detail ul.classdetail-eqlist li{ float:left; font-size:13px; padding:3px; max-width:16%;}
.class-detail ul.classdetail-eqlist li img{}
.cartype-img{margin-bottom:15px;}
@media (min-width:768px) {
.classdetail-li{margin-left:40px;}
}

.shopdetail h2 {
	color: #111;
    font-weight: 600;
    text-align: center;
	padding: 0.5em;
	border-bottom: solid 5px #be0100;
	letter-spacing:0.1em;
}

@media (max-width:767px) {
p.cartype{margin-bottom:10px;margin-top:5px;}
.classdetail-li{margin-left:20px;}
}
.classdetail-li li{line-height:1.6em; list-style:disc;}
.classdetail-ttl{    font-weight: bold;
    font-size: 1.4em;}


.popover.left > .arrow {
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: transparent;
}
.popover.left > .arrow {
    top: 30%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #FFFFCC;
}
.popover.left > .arrow-b::after {
    border-left-color: #FFFFCC;
}
.popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
}

.popover p{margin:0;}
.pop-stuff-img{ margin-top:15px; max-width: 80%;}
.stuff-txt{margin-top:5px; margin-bottom:5px;}
@media (max-width:767px) {
.pop-stuff-img{ margin-top:0px;}

}
p.sml-txt {
    font-size: 12px;
    text-align: center;
    margin: 5px 0;
}
.carclass-margin {
    margin-top: 50px;
}
.ribbon-block{padding:0;}
.ribbon-block{
    position: absolute;
    top: 10px;
    left: -10px;
	width: 50%;
height: auto;
	color:#fff;
	padding:8px;
}
.calc-btn {
    margin-bottom: 3px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.calc-btn a {
    display: block;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 260px;
    color: #be0100;
	background: #fff;
    border: 3px solid #be0100;
    border-radius: 6px !important;
	transition: all 0.2s;
    /* -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4); */
    /* -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4); */
    /* box-shadow: 0px 2px 3px 0px rgba(0,0,0,.4); */
}
.calc-btn a:hover, .calc-btn a:focus{
	background: #be0100;
	color: #fff;
}
.ribbon-block h3{ margin-top:2px; margin-bottom:0; margin-left:20px;}
@media (min-width:768px) {
.ribbon-block:after{content: '';
position: absolute;
bottom: -5px;
left: 0px;
width: 0;
height: 0;
border-width: 5px 0 0 12px;
border-style: solid;
border-color: gray transparent transparent transparent;}
}
@media (max-width:767px) {
.ribbon-block{ left:0;
	width: 100%;}
.search-block{margin-top:100px; margin-bottom:20px;}
.search-block-cont{padding-left:0; padding-right:0;}

}
.search-tbl th{ width:25%;}
.search-tbl td .slct-1{ float:left; max-width:120px; margin-right:5px;}
.search-tbl td .slct-2{ float:left; max-width:70px; margin-right:5px;}
.search-tbl td .slct-3{ float:left; max-width:120px;}
@media (max-width:767px) {
.search-tbl td .slct-3{ margin-top:3px;}
}
.result-block-cont{ background:#fff; padding:15px;}
.result-tbl th,.result-tbl td{ border-top:0!important;}
.result-tbl th span{ background:#eee; padding:3px 6px;border-radius: 5px!important;  
-webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */  
-moz-border-radius: 5px!important;   /* Firefox�p */}
.result-carlist li{ float:left; font-size:13px; padding:3px; max-width:33%;}

.result-tbl th,.result-tbl td{ border-top:0!important;}
.r-txt{font-size:1.2em;}
.bg-darkred{ background:#dd0000;}
.bg-white{ background:#fff;}
.bg-grad-red{ 
background: -moz-linear-gradient(top, #ff0000 1%, #dd0000 50%, #dd0000 50%, #880000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff0000 1%,#dd0000 50%,#dd0000 50%,#880000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.bg-grad-gray{ 
background: -moz-linear-gradient(top, #fff 1%, #eee 50%, #eee 50%, #ddd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fff 1%,#eee 50%,#eee 50%,#ddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.cond-ttl{ padding:8px; color:#fff; text-align:center; margin-top:0; display:block;
border-radius: 5px!important;  
-webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */  
-moz-border-radius: 5px!important;   /* Firefox�p */}

.pop-stuff-img2{ margin-top:0px; margin-left:14px;}

.gradeup-tbl th,.gradeup-tbl td{ border-top:0!important;}

@media (min-width:768px) {
.gradeup-tbl th span{ background:#ADE3AC; padding:3px 6px;border-radius: 5px!important;  
-webkit-border-radius: 5px!important;    /* Safari,Google Chrome�p */  
-moz-border-radius: 5px!important;   /* Firefox�p */}
}
@media (max-width:767px) {
.gradeup-tbl th,.gradeup-tbl td{width:100%; display:block;}

table.gradeup-tbl,.gradeup-tbl tbody,.gradeup-tbl tr,.gradeup-tbl th,.gradeup-tbl td { display: block; }
.gradeup-tbl th{ padding-bottom:0!important;border-top: dashed 1px #ddd !important;}
}
.btn-redboreder{ margin:10px 0;}
.btn-redboreder a{display:block; text-align:center; padding:8px; font-weight:bold; width:260px; color:#333; border:solid 3px #990000;}
.caution2-tbl th{ width:25%;}

ul.remarks{font-size: 1.2rem; color: #666;}
ul.remarks li{list-style-type: none;  text-indent: -1em;}
ul.remarks li:before {  display: inline;  content: "※";}
.red-num{color:#ff0000; font-size:1.4em;}
.s-link{text-decoration: underline;
display: block;
margin-top: 6px;}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news { padding:5px 10px; color:white; border-radius: 2px; background-color: #01bffd; }
.promotion {padding:5px 10px; color:white; border-radius: 2px;  background-color: #fe7c97; }

.shopbox01 {margin-bottom:10px;}
.shopbox02 {margin-bottom:40px;}

@media (min-width:768px) {
.carclass-tbl th span{  
    padding:3px 6px;
	border-radius: 0px !important;  
	-webkit-border-radius: 0px !important;    /* Safari,Google Chrome�p */  
	-moz-border-radius: 0px !important;   /* Firefox�p */  
	background: #eeeeee;
    border: 1px solid #d2d2d2; 
 }
}
@media (max-width:767px) {
.carclass-tbl th span{ background:transparent;}
.mtxs20{margin-top:20px!important;}
}

.pickup-explanation {
	font-size: 18px;
    font-weight: 400;
    padding: 30px;
    margin: 20px 15px;
    background: #ffeebc47;
    line-height: 1.4;
}
@media (max-width:767px) {
.pickup-explanation {
    padding: 20px;
    margin:20px 0px;
	}
}

.pickup-explanation .pricebox {
	font-weight:600;
	padding:8px 15px;
	margin:0 auto;
	width:50%;
	margin-top:20px;
	background:#ffc9b669;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align:center;
}


/**/
@media screen and (max-width: 768px){

.footer_wrap{
    padding: 0;
}
.footer_wrap img{
    width: 100%;
    display: inline-block;
}
.last_footer ul.foo li{
    width: 100%;
    display: inline-block;
    border-left: none;
    padding: 5px 0px;
}
.ribbon_main .box-shadow.relative .ribbon-block.bg-grad-red{
    top: 0;
    display: inline-block;
    width: 100%;
}
.ribbon_main .carclass-margin img.img-responsive.center-block.m_Txs60{
    width: 100%;
    display: inline-block;
    margin-top: 45px;
}
.ribbon_main .carclass-margin h3.jnum{
    padding: 0 10px;
}
.ribbon_main .carclass-margin .table.carclass-tbl>tbody>tr>td, 
.ribbon_main .carclass-margin .table.carclass-tbl>tbody>tr>th{
    width: 50%;
    display: inline-block;
}
.ribbon_main .carclass-margin .clearfix.bg-white.calc-btn{
  padding: 10px;
}
.ribbon_main .carclass-margin .clearfix.bg-white.calc-btn a{
  width: 100%;
  display: inline-block;
}
.page-content-wrapper{
  overflow: hidden;
}

}
.mdpl50{padding-left: 50px;}

@media screen and (max-width: 767px){

.shopmain_wrap .shop_content{
  padding-bottom: 40px;
}
h3.nahaairportonly{letter-spacing:unset;}
h3 strong{line-height:1.2; font-size:.8em;}
.xsfs24{font-size:24px; margin-top:5px;}
.mdpl50{padding-left: 0px;font-size:20px;}

}

.shop_content h2{font-size:1.6em;}
/**/